/* viide elemendile st muudame kõiki selliseid elemente */
body {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 3em; /* vahe elementide vahel */
    align-items: center;
}
/* #-ga viitame elemendile, millel on selline id */
#photo {
    max-width: 25em;
    max-height: 30em;
}
/* .-ga viitame elemenditele, millel on selline class */
.container {
    display: flex;
    padding: 1em;
    align-items: center;
    gap: 3em;
    justify-content: center;
}

#textBox {
    max-height: 20em;
    overflow-x: hidden;
    overflow-y: auto;
    color: #008000;
}

.card {
    width: 20em;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ;
    padding: 5em 1.5em 1.5em;
}
.icon {
    max-width: 19em;
}
iframe {
    width: 50em;
    height: 28em;
}

button {
    width: 20em;
    border: none;
    background-color: #FF8000;
    padding: 2em;
}

button:hover {
    background-color: #FF8000;
    cursor: pointer;
}

#koer {
    width: 100%;
}